<main class="main h-lvh overflow-hidden">
  <div class="content w-full flex">
    <div class="left-side w-[300px] px-5 pt-10 text-white border-r-4  border-gray-700 h-lvh">
      <div class="flex justify-center align-items-center">
        <a routerLink="/apexcharts">Apexcharts</a>
      </div>
      <!-- <div class="flex justify-center align-items-center mt-3">
        <a routerLink="/unovischarts">Unovischarts</a>
      </div> -->
      <div class="flex justify-center align-items-center mt-3">
        <a routerLink="/charts">Charts</a>
      </div>
    </div>
    <div class="right-side flex-1 px-5 pt-10 h-lvh overflow-auto">
      <router-outlet />
    </div>
  </div>
</main>

